.btn {
  position: relative;
  display: inline-flex;
  align-items: center;

  border: none;
  margin: 0;
  padding: 10px 30px;
  background-color: teal;
  color: #fff;
  font: inherit;
  cursor: pointer;
  border-radius: 3px;

  transition: background-color 250ms ease, color 250ms ease;

  overflow: hidden;
}

.btn:hover,
.btn:focus {
  background-color: orange;
  color: blue;
}

.btn:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/linkedinfooter.svg);
  background-size: contain;
  background-position: center;
  margin-right: 10px;

  transition: transform 250ms ease;
}

.btn:hover:before,
.btn:focus:before {
  transform: translateY(-35px);
}

.btn:after {
  position: absolute;
  top: 50%;

  transform: translateY(calc(-50% + 35px));

  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;

  background-image: url(../images/twitterfooter.svg);
  background-size: contain;

  transition: transform 250ms ease;
}

.btn:hover:after,
.btn:focus:after {
  transform: translateY(-50%);
}
